@charset "utf-8";
.rab{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Oryctolagus_cuniculus_Tasmania.jpg"
    );
}
.chi{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Chick.jpg");

}
.cat{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ae/AfricanWildCat.jpg");
}
/* 文章が入っているcol要素用 */

.my-bg{
    min-height: 200px;
    height: 200px;
    color: white;
    background-size:cover;
    background-position: center center;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    border: 2px solid #000;
    display: flex;
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
}
.my-text p{
    font-size: 15px;
}

.navbar{
    min-height: 200px;
}